#head {
    border: 10px solid silver;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: ivory;
    text-align: center;
    
    font-size: 150Px;
}


#heroes {
    background-color: royalblue;
    color: whitesmoke;
    border: 10px solid blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    width: 400px;
    height: 200px;
}

#teams {
    background-color: lightcoral;
    color: whitesmoke;
    border: 10px solid red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    width: 400px;
    height: 200px;
}

#heroTable {
    color: white;
    background-color: royalblue;
    font-size: 25px;
    border: 10px solid blue;
    
}

#teamTable {
    color: white;
    background-color: lightcoral;
    font-size: 25px;
    border: 10px solid red;
}
.th{
    border: 1px solid white
}

#titleH {
    color: white;
    background-color: royalblue;
    border: border-style color;
    font-size: 100PX;
}